.cache/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
amx-items
auto-save-list/
elpa/
emacs-backups/
emojis/emojione-v2.2.6-22/
mastodon.plstore
network-security.data
persist/
projectile-bookmarks.eld
projectile.cache
projects
quelpa/
request/
savehist
straight/
transient/
tree-sitter/
url/
.aider*
.env
forge-database.sqlite
rake.cache
.local/
local-vars.el
forge-database*
eln-cache