.dap-breakpoints
.lsp-session-v1
.mc-lists.el
auto-save-list/
elpa/
emacs-backups/
emojis/emojione-v2.2.6-22/
mastodon.plstore
network-security.data
projectile-bookmarks.eld
projectile.cache
projects
quelpa/
request/
savehist
transient/
tree-sitter/
url/
